---
layout: default
---

<article class="document">
    <div class="container">
        <div class="title-summary">
            <div class="title">{{ content | doc_title }}</div>
            {%- if page.summary -%}
            <div class="summary">{{ page.summary }}</div>
            {%- endif -%}
        </div>
        <div class="paths">
            <a href="/" class="path">메인</a>
            {%- assign path_parts = page.path | remove: ".md" | remove: ".html" | split: "/" | shift -%}
            {%- assign link = "" -%}
            {%- for part in path_parts -%}
                {% assign link = link | append: "/" | append: part %}
                <span>/</span>
                <a href="{{ link }}" class="path">{{ part }}</a>
            {%- endfor -%}
        </div>
        <div class="dates">
            {%- if page.created_at -%}
            <p class="created-date">생성 날짜 {{ page.created_at | date: "%Y-%m-%d" }}</p>
            {%- endif -%}
            {%- if page.updated_at -%}
            <p class="updated-date">수정 날짜 {{ page.updated_at | date: "%Y-%m-%d" }}</p>
            {%- endif -%}
        </div>
        {% if page.tags %}
        <div class="tags">
            {% for tag in page.tags %}
            <a href="/tags/{{ tag | slugify }}" class="tag">#{{ tag }}</a>
            {% endfor %}
        </div>
        {% endif %}
        <div id="toc" class="toc">
            <div class="text">목차</div>
            <div class="tree">{{ content | doc_toc }}</div>
        </div>
        <div class="content">{{ content | doc_content }}</div>
    </div>
</article>