:root {
    --color-background-default: #3b4252;
    --color-background-document: #2e3440;

    --color-background-toc: #2e3440;
    --color-text-toc: #e5e9f0;

    --color-background-header: #2e3440;
    --color-text-header: #eceff4;
    --color-background-footer: #2e3440;
    --color-text-footer: #eceff4;

    --color-text-default: #eceff4;
    --color-text-bold: #ebce5c;
    --color-text-italic: #ff7a85;

    --color-text-link-internal: #5eafff;
    --color-text-link-external: #7eff7e;

    --color-text-title: #a6e5f7;
    --color-text-dates: #99d5e6;
    --color-text-summary: #99d5e6;

    --color-background-path: #5e81ac;
    --color-text-path: #eceff4;

    --color-background-tag: #5e81ac;
    --color-text-tag: #eceff4;

    --color-text-image-caption: #81a1c1;

    --color-text-h2: #ffe066;
    --color-text-h3: #ff7a85;
    --color-text-h4: #baffb4;
    --color-text-h5: #ffaa80;
    --color-text-h6: #d2b3ff;

    --color-text-blockquote: #e5e9f0;
    --color-background-blockquote: #2a2f3a;
    --color-border-blockquote: #ff7a85;

    --color-text-inline-code: #e5e9f0;
    --color-background-inline-code: #1f242b;

    --color-text-code-caption: #eceff4;
    --color-background-code-caption: #3f597c;

    --color-text-code: #e5e9f0;
    --color-background-code: #181c22;

    --color-border-table: #5e81ac;
    --color-background-th: #3f597c;
    --color-background-tr-even: #374151;
    --color-background-tr-odd: #242933;
    --color-text-th: #ffffff;
    --color-text-td: #ffffff;
    --color-text-tr: #ffffff;
}