:root {
    --color-background-default: #f8f8f8;
    --color-background-document: #f3f3ef;

    --color-background-toc: #f3f3ef;
    --color-text-toc: #364F6B;

    --color-background-header: #364F6B;
    --color-text-header: #f8f8f8;
    --color-background-footer: #364F6B;
    --color-text-footer: #f8f8f8;

    --color-text-default: #1a2531;
    --color-text-highlight: #1a2531;

    --color-text-link-internal: #0084ff;
    --color-text-link-external: #00a500;

    --color-text-title: #364F6B;
    --color-text-dates: #5c748f;
    --color-text-summary: #5c748f;

    --color-background-path: #5791c7;
    --color-text-path: #f8f8f8;

    --color-background-tag: #364F6B;
    --color-text-tag: #edf2f7;

    --color-text-image-caption: #5c748f;

    --color-text-h2: #364F6B;
    --color-text-h3: #364F6B;
    --color-text-h4: #364F6B;
    --color-text-h5: #364F6B;
    --color-text-h6: #364F6B;

    --color-text-blockquote: #364F6B;
    --color-background-blockquote: #edf2f7;
    --color-border-blockquote: #3498db;

    --color-text-code: #0e141b;
    --color-background-code: #bccee4;

    --color-text-code-highlight-caption: #faf6e4;
    --color-background-code-highlight-caption: #265473;

    --color-text-code-highlight: #faf6e4;
    --color-background-code-highlight: #122b3b;

    --color-border-table: #364F6B;
    --color-background-th: #dbe3ee;
    --color-background-tr-even: #ececec;
    --color-background-tr-odd: #f8f8f8;
    --color-text-th: #364F6B;
    --color-text-td: #364F6B;
    --color-text-tr: #364F6B;

}