{%- capture output -%}
  {%- assign parts = include.processed_body | split: '<h' -%}
  {%- assign last_level = 1 -%}
  {%- for part in parts -%}
    {%- assign first_char = part | slice: 0 -%}
    {%- if "23456789" contains first_char -%}
      {%- assign curr_level = first_char | times: 1 -%}
      {%- if curr_level == last_level -%}
      {%- elsif curr_level > last_level -%}
        <ul>
      {%- else -%}
        {%- assign level_diff = last_level | minus: curr_level -%}
        {%- for i in (1..level_diff) -%}
          </ul>
        {%- endfor -%}
      {%- endif -%}
      {%- assign end_tag = "</h" | append: curr_level | append: ">" -%}
      {%- assign subparts = part | slice: 2, part.size | split: end_tag | limit: 1 -%}
      {%- assign subparts = subparts[0] | split: '<a href="#toc" class="section-number">' -%}
      {%- assign subparts = subparts[1] | split: "</a>" -%}
      {%- assign section_number = subparts[0] -%}
      {%- assign section_title = subparts[1] -%}
      {%- assign index = section_number | size | minus: 1 -%}
      <li><a href="#s-{{ section_number | slice: 0, index }}" class="toc-section-number">{{ section_number }}</a>{{ section_title }}</li>
      {%- assign last_level = curr_level -%}
    {%- endif -%}
  {%- endfor -%}
{%- endcapture -%}

{{ output }}