.doc {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}

.doc > .container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 1.3rem;
  margin: 0 1.3rem;
  border: 1px solid color-mix(in srgb, currentColor 90%, transparent);
  min-width: 0;
  background-color: var(--color-document-background);
}

@media (max-width: 768px) {
  .doc >.container {
    margin: 0;
    padding: 0.6rem;
    border-left: none;
    border-right: none;
  }
}