footer {
  width: 100%;
}

footer > .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

footer a {
  font-size: 1.7rem;
  font-weight: 800;
}