header {
  width: 100%;
}

header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.navigation {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.navigation a {
  font-size: 1.6rem;
  font-weight: 800;
}

@media (max-width: 768px) {
  .navigation {
    gap: 2rem;
  }
}