.highlight table td {
  padding: 5px;
}

.highlight table pre {
  margin: 0;
}

.highlight .gh {
  color: #8e9aaf;
}

.highlight .sr {
  color: #ffd369;
}

.highlight .go {
  color: #7a7d84;
}

.highlight .gp {
  color: #9ca3af;
}

// .highlight .gs {}

.highlight .gu {
  color: #9ca3af;
}

.highlight .nb {
  color: #ffd369;
}

.highlight .cm {
  color: #6b7280;
}

.highlight .cp {
  color: #6b7280;
}

.highlight .c1 {
  color: #6b7280;
}

.highlight .cs {
  color: #6b7280;
}

.highlight .c,
.highlight .ch,
.highlight .cd,
.highlight .cpf {
  color: #6b7280;
}

.highlight .err {
  color: #ff6b6b;
}

.highlight .gr {
  color: #ff6b6b;
}

.highlight .gt {
  color: #ff6b6b;
}

.highlight .gd {
  color: #4a5568;
}

.highlight .gi {
  color: #4a5568;
}

.highlight .ge {
  color: #4a5568;
}

.highlight .kc {
  color: #7dd3fc;
}

.highlight .kd {
  color: #7dd3fc;
}

.highlight .kr {
  color: #7dd3fc;
}

.highlight .no {
  color: #7dd3fc;
}

.highlight .kt {
  color: #7dd3fc;
}

.highlight .mf {
  color: #c084fc;
}

.highlight .mh {
  color: #c084fc;
}

.highlight .il {
  color: #c084fc;
}

.highlight .mi {
  color: #c084fc;
}

.highlight .mo {
  color: #c084fc;
}

.highlight .m,
.highlight .mb,
.highlight .mx {
  color: #c084fc;
}

.highlight .sc {
  color: #c084fc;
}

.highlight .se {
  color: #c084fc;
}

.highlight .ss {
  color: #c084fc;
}

.highlight .sd {
  color: #fde68a;
}

.highlight .s2 {
  color: #fde68a;
}

.highlight .sb {
  color: #fde68a;
}

.highlight .sh {
  color: #fde68a;
}

.highlight .si {
  color: #fde68a;
}

.highlight .sx {
  color: #fde68a;
}

.highlight .s1 {
  color: #fde68a;
}

.highlight .s,
.highlight .sa,
.highlight .dl {
  color: #fde68a;
}

.highlight .na {
  color: #86efac;
}

.highlight .nc {
  color: #86efac;
}

.highlight .nd {
  color: #86efac;
}

.highlight .ne {
  color: #86efac;
}

.highlight .nf,
.highlight .fm {
  color: #86efac;
}

.highlight .vc {
  color: #f1f5f9;
  // background-color: #1e293b;
}

.highlight .nn {
  color: #f1f5f9;
  // background-color: #1e293b;
}

.highlight .nl {
  color: #f1f5f9;
  // background-color: #1e293b;
}

.highlight .ni {
  color: #f1f5f9;
  // background-color: #1e293b;
}

.highlight .bp {
  color: #f1f5f9;
  // background-color: #1e293b;
}

.highlight .vg {
  color: #f1f5f9;
  // background-color: #1e293b;
}

.highlight .vi {
  color: #f1f5f9;
  // background-color: #1e293b;
}

.highlight .nv,
.highlight .vm {
  color: #f1f5f9;
  // background-color: #1e293b;
}

.highlight .w {
  color: #f1f5f9;
  // background-color: #1e293b;
}

.highlight {
  color: #f1f5f9;
  // background-color: #1e293b;
}

.highlight .n,
.highlight .py,
.highlight .nx {
  color: #f1f5f9;
  // background-color: #1e293b;
}

.highlight .ow {
  color: #fb7185;
}

.highlight .nt {
  color: #fb7185;
}

.highlight .k,
.highlight .kv {
  color: #fb7185;
}

.highlight .kn {
  color: #fb7185;
}

.highlight .kp {
  color: #fb7185;
}

.highlight .o {
  color: #fb7185;
}