.markdown {
  display: flex;
  flex-direction: column;
  flex: 1;
  // gap: 1.5rem;
  width: 100%;
  align-items: flex-start;
}

.markdown-title {
  h1 {
    font-size: 2.5rem;
    margin-top: 0.7em;
    padding-left: 0.4em;
    line-height: 1;
    font-weight: 700;
  }
  
  h1 >a[href] {
    color: inherit;
  }
}

.markdown-date {
  margin-bottom: 4rem;
  margin-top: 2rem;
  margin-left: 1rem;
  opacity: 0.4;
  .date-wrapper {
    display: flex;
    gap: 1em;
  }

  .text {
    display: inline-block;
  }

  .date {
    display: inline-block;
  }
}

.markdown-toc {
  display: inline-block;
  background-color: var(--color-background);
  border: 1px solid color-mix(in srgb, currentColor 90%, transparent);
  padding: 1em;
  margin-bottom: 1.5rem;

  &:empty {
    border: none;
    padding: 0;
  }

  .toc-section-number {
    margin-right: 0.2em;
  }

  li {
    line-height: 1.3em;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  ul ul {
    padding-left: 1.4em;
  }
}

.markdown-tree {
  display: inline-block;
  width: auto;
  background-color: var(--color-background);
  border: 1px solid color-mix(in srgb, currentColor 90%, transparent);
  padding: 1em;
  margin-bottom: 1rem;

  &:empty {
    border: none;
    padding: 0;
  }

  .current {
    color: var(--color-text);
  }

  li {
    line-height: 1.3em;
    position: relative;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  ul ul {
    padding-left: 1.4em;

    > li::before {
      content: "▸";
      position: absolute;
      left: -1em;
    }

    > li:has(a.current)::before {
      content: "▸";
      color: red;
    }
  }
}

.markdown-body {
  width: 100%;
  word-break: break-all;

  details {

    // 단순히 래핑 용도로만 사용하고
    // 스타일은 h태그에 설정
    > summary {
      cursor: pointer;
      list-style: none;
      user-select: none;
      opacity: 1;

      &::-webkit-details-marker {
        display: none;
      }
    }

    &:not([open]) > summary {
      opacity: 0.3;
    }
  }
  
  h2 { font-size: 1.8rem; }
  h3 { font-size: 1.6rem; }
  h4 { font-size: 1.4rem; }
  h5 { font-size: 1.2rem; }
  h6 { font-size: 1.0rem; }
  
  h2, h3, h4, h5, h6 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    line-height: 1.25;
    font-weight: 700;
    padding-left: 0.2rem;
    padding-bottom: 0.3em;

    border-bottom: 1px solid;
    border-color: color-mix(in srgb, currentColor 30%, transparent);

    .section-number {
      margin-right: 0.2em;
    }
  }
  
  p {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
  }
  
  hr {
    height: 0;
    border: none;
    border-bottom: 1px solid;
    border-color: color-mix(in srgb, currentColor 30%, transparent);
  }

  ul, ol {
    padding-left: 1.5em;
    list-style-position: outside;
    margin: 1.2em 0;
  }

  ul ul, ul ol, ol ul, ol ol {
    margin: 0;
  }

  strong {
    color: var(--color-text-highlight)
  }

  blockquote {
    p {
      margin: 0;
    }

    padding: 0.5em 1em;
    color: var(--color-blockquote-text);
    background: var(--color-blockquote-background);
    border-left: 4px solid var(--color-blockquote-border-left);
  }
  
  code:not(pre code) {
    color: var(--color-code-text);
    background: var(--color-code-background);
    border: 1px solid;
    padding: 0.2em;
    font-size: 0.95em;
  }
  
  pre.highlight {
    color: var(--color-pre-code-text);
    background: var(--color-pre-code-background);
    border: 1px solid;
    padding: 0.5em 0;
    margin: 0;
    font-size: 0.9em;
    font-weight: 600;
    display: block;
    overflow-x: auto;

    .rouge-table {
      border-collapse: collapse;

      td {
        border: none;
      }
    }

    .rouge-gutter {
      padding-left: 1em;
      text-align: right;
      user-select: none;
      color: #606060a2;
    }
    
    /* 실제 코드 열 */
    .rouge-code {
      font-weight: 600;
    }
    
    /* 줄 번호와 코드의 pre 태그 */
    .rouge-gutter pre, 
    .rouge-code pre {
      margin: 0;
      padding: 0;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  th {
    border: 1px solid #ddd;
    padding: 0.75rem;
  }
  
  td {
    border: 1px solid #ddd;
    padding: 0.75rem;
  }

  .footnotes {
    margin-top: 3rem;
    border-top: 1px solid #eee;
    padding-top: 2rem;
  }

  .task-list {
    list-style: none;
    padding-left: 0;
  }
  
  .task-list-item {
    margin: 4px 0;
  }
  
  .task-list-item-checkbox {
    display: none;
  }
  
  .task-list-item::before {
    content: '[ ]';
    margin-right: 8px;
    font-family: monospace;
  }
  
  .task-list-item:has(.task-list-item-checkbox:checked)::before {
    content: '[x]';
  }

  img {
    display: block;
    max-width: 400px;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  del {
    text-decoration-thickness: 1px;
    color: color-mix(in srgb, currentColor 50%, transparent);
    // plain 텍스트와 내부 요소에 대한 투명도를 따로 설정
    opacity: 0.7;
  }
}